<div class="container">
  <div class="wrapper">
    <header>
      <div class="page-title" data-tilt>
        <img src="assets/img-01.png" alt="IMG">
        <h4>Hello Admin</h4>
      </div>
      <aside>
        <app-admin-menu></app-admin-menu>
      </aside>
    </header>
    <!-- *ngIf="showButtons1 || showButtons2 || showButtons3" -->
    <!-- <div  class="page-buttons">
      <button type="button">example</button>
      <button type="button">example</button>
      <button type="button">example</button>
    </div> -->
    <br>
    <!-- main page -->
    <router-outlet></router-outlet>
  </div>
</div>